@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
  }

body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: linear-gradient(to right, rgb(122, 122, 122), rgb(59, 59, 59));
}

input {
    font-size: 1em;
    margin-bottom: 30px;
}

.output {
    padding: 15px 15px;
    background-color: #0002;
}

.foot {
  margin-top: 50px;
  padding: 15px 15px;
  font-size: 12px;
  background-color: #0002;
}