<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div id="app">  
        <h1>{{ title }}</h1>
        <p style="width:400px">{{ subtitle }}</p>

        <div>
            <input type="text" size="30"
                placeholder="Digite para gerar..."
                v-model="text">
        </div>

        <div v-if="text" class="output">
            <img :src="newQRCode" alt="QRCode">
        </div>
        <footer class="foot">{{ footer }}</footer>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Gerador QRCode',
                subtitle: 'Digite abaixo o seu site e gere um QRCode para download',
                footer: 'Projeto desenvolvido com VueJS | Curso da Cod3r',

                text: 'https://www.exemplo.com',
                qrcode: new QRious({ size: 300 })
            },
            computed: {
                newQRCode() {
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL()
                }
            }
        })
    </script>
</body>

</html>